body{
   margin-left: 40%;
   padding-top: 200PX;
   background-color: bisque;
}

input{
    padding: 15px;
    width: 250px;
    outline: none;
}
button {
    padding: 15px;
    width: 250px;
    background-color: #c70c0c;
    border-radius: 2px solid white;
    margin-left: 20px;
    color: white;
}

.display{
    background-color: black;
    width: 300px;
    height: 500px;
}

.displaybtn{
    margin-top: 70%;
    margin-left: 25px;
    padding-left:20px ;
}

.bgGreen{
    background-color: chartreuse;
}